.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.stored-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stored-items p {
  padding: 0.5rem;
}

.button-container {
  display: flex;
}

.App-link {
  margin: 2rem 1rem 0 1rem;
  padding: 1rem;
  color: #61dafb;
  cursor: pointer;
  transition: 0.15s;
}

.App-link:hover {
  background-color: #61dafb;
  color: #2f2f2f;
}

.App-link::selection {
  background-color: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
